@import "./variables";

.filaUno{
        a{
            color: #fff;
        }
        .imagenNav{
            padding-right: 50px;
        }
    }
    /*header galeria*/
.headerGaleria{
    a{
        color: #fff;
    }
    .imgGaleria{
        padding-right: 50px;
    }
}



