@import "./variables";
%titulos{
    font-weight: $fWeight;
    color:rgb(59, 59, 59) ;
    &:hover{
        color:$colorRos ;
    }
}
@each $redSocial, $color in $redes {
    .btn-#{$redSocial}{
        color: #fff;
        padding: 5px;
        border: 0;
        border-radius: 05px;
        background-color: $color;
    }
    
}
#menu{
    background-color: beige;
    height: 100%;
    &:hover{
        background-color: $colorNeg;
    }
    h1{
        font-size: 2.7rem;
        letter-spacing: 15px;
        @extend %titulos;
    }
    h2{
        font-weight: $fWeight3;
        font-size: 7rem;
        @extend %titulos
    }
    .cool-btn{
        background-color: transparent;
        color: rgb(59, 59, 59);
        padding: .5rem 1rem;
        border: 1px solid rgb(59, 59, 59);
        font-size: 2rem;
        width: 35%;
        transition: 0.5s;
        &:hover{
            transform: translateY(-10px);
            border: 1px solid $colorRos;
            color: $colorRos;
        }
    }
    .imgMain{
        padding-left: 200px;
    }
}

#menu2{
    background-color: $colorRos;

    .tituloProductos{
        display: flex;
        justify-content: center;
        background-color: $colorNeg;
        color: beige;
        text-align: center;
        margin-bottom: 50px;
        padding: 15px;
        transition: 0.5s;
        &:hover{
            transform: translateY(10px);
        }
        
    }
    .card{
        background-color: $colorWh;
        color: $colorNeg;
        transition: 0.5s ;
        &:hover{
            background-color: $colorNeg;
            color: $colorWh;
            transform: translateY(10px) ;
        }

    }
    
}



.footer{
    background-color: $colorWh;
    .miniFooter{
        padding: 80px;
    }
    .tituloFooter{
        text-align: center;
        color: $colorWh;
        font-size: $fzises;
        font-weight: $fWeight;
        padding: 50px;
        margin-top: 30px;
    }
}

