.sesionPage{
    overflow-x: hidden;
    background-color: $colorNeg;
    h1{
        font-size: 2.7rem;
            letter-spacing: 15px;
            @extend %titulos;
            color: $colorRos;
            text-align: center;
    }
    .serenSesion{
        justify-content: center;
    }
    .sesionUsuario{
        padding: 100px;
    }
}

