#container {
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

.filaUno a {
  color: #fff;
}
.filaUno .imagenNav {
  padding-right: 50px;
}

/*header galeria*/
.headerGaleria a {
  color: #fff;
}
.headerGaleria .imgGaleria {
  padding-right: 50px;
}

.nosotrosPage #nosotrosRow2 h2, .nosotrosPage #nosotrosRow2 h1, .bodyGaleria #rowDos h2, .bodyGaleria #rowDos h1, #menu h2, #menu h1 {
  font-weight: 300;
  color: rgb(59, 59, 59);
}
.nosotrosPage #nosotrosRow2 h2:hover, .nosotrosPage #nosotrosRow2 h1:hover, .bodyGaleria #rowDos h2:hover, .bodyGaleria #rowDos h1:hover, #menu h2:hover, #menu h1:hover {
  color: #F5B7B1;
}

.btn-twitter {
  color: #fff;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #55acee;
}

.btn-facebook {
  color: #fff;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #3a5795;
}

.btn-instagram {
  color: #fff;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #9c0e42;
}

#menu {
  background-color: beige;
  height: 100%;
}
#menu:hover {
  background-color: #000;
}
#menu h1 {
  font-size: 2.7rem;
  letter-spacing: 15px;
}
#menu h2 {
  font-weight: 900;
  font-size: 7rem;
}
#menu .cool-btn {
  background-color: transparent;
  color: rgb(59, 59, 59);
  padding: 0.5rem 1rem;
  border: 1px solid rgb(59, 59, 59);
  font-size: 2rem;
  width: 35%;
  transition: 0.5s;
}
#menu .cool-btn:hover {
  transform: translateY(-10px);
  border: 1px solid #F5B7B1;
  color: #F5B7B1;
}
#menu .imgMain {
  padding-left: 200px;
}

#menu2 {
  background-color: #F5B7B1;
}
#menu2 .tituloProductos {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: beige;
  text-align: center;
  margin-bottom: 50px;
  padding: 15px;
  transition: 0.5s;
}
#menu2 .tituloProductos:hover {
  transform: translateY(10px);
}
#menu2 .card {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
}
#menu2 .card:hover {
  background-color: #000;
  color: #fff;
  transform: translateY(10px);
}

.footer {
  background-color: #fff;
}
.footer .miniFooter {
  padding: 80px;
}
.footer .tituloFooter {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  padding: 50px;
  margin-top: 30px;
}

.nosotrosPage #nosotrosRow2 h2, .nosotrosPage #nosotrosRow2 h1, .bodyGaleria #rowDos h2, .bodyGaleria #rowDos h1, #menu h1, #menu h2 {
  font-weight: 300;
  color: rgb(59, 59, 59);
}
.nosotrosPage #nosotrosRow2 h2:hover, .nosotrosPage #nosotrosRow2 h1:hover, .bodyGaleria #rowDos h2:hover, .bodyGaleria #rowDos h1:hover, #menu h1:hover, #menu h2:hover {
  color: #F5B7B1;
}
.nosotrosPage #nosotrosRow2 h2 *, .nosotrosPage #nosotrosRow2 h1 *, .bodyGaleria #rowDos h2 *, .bodyGaleria #rowDos h1 *, #menu h1 *, #menu h2 * {
  font-family: "Source Sans Pro", sans-serif;
}

.bodyGaleria {
  overflow-x: hidden;
  background-color: #000;
}
.bodyGaleria #rowDos {
  background-color: #000;
  padding-top: 150px;
  padding-bottom: 10px;
  padding-left: 35px;
}
.bodyGaleria #rowDos .imgLogo {
  border: 1px solid #000;
  transition: 0.5s;
}
.bodyGaleria #rowDos .imgLogo:hover {
  transform: translate(10px);
  border: 5px solid #fff;
}
.bodyGaleria #rowDos h1 {
  font-size: 2.7rem;
  letter-spacing: 15px;
  color: #F5B7B1;
}
.bodyGaleria #rowDos h2 {
  font-weight: 300;
  font-size: 3rem;
  color: #F5B7B1;
}
.bodyGaleria #rowDos .imgLogo {
  position: relative;
  bottom: 80px;
}
.bodyGaleria .h2Galeria {
  background-color: #000;
  text-align: center;
  font-size: 2.7rem;
  letter-spacing: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: 0.5s;
}
.bodyGaleria .h2Galeria:hover {
  color: #F5B7B1;
  transform: translateY(10px);
}
.bodyGaleria #rowTres {
  background-color: #000;
}
.bodyGaleria #rowTres .carousel {
  border: 1px solid #000;
}
.bodyGaleria #rowTres h5 {
  background-color: rgba(252, 164, 197, 0.329);
  color: #000;
  transition: 0.5s;
}
.bodyGaleria #rowTres h5:hover {
  transform: translateY(-10px);
}
.bodyGaleria #rowTres p {
  color: #000;
  background-color: #F5B7B1;
}

#rowCuatro {
  background-color: #000;
}
#rowCuatro .img4 {
  border: 3px solid #fff;
  transition: 0.5s;
}
#rowCuatro .img4:hover {
  transform: translateY(10px);
  border: 2px solid #F5B7B1;
}

.nosotrosPage {
  overflow-x: hidden;
}
.nosotrosPage #nosotrosRow2 {
  background-color: #000;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 35px;
}
.nosotrosPage #nosotrosRow2 h1 {
  font-size: 2.7rem;
  letter-spacing: 15px;
  color: #F5B7B1;
}
.nosotrosPage #nosotrosRow2 h2 {
  font-weight: 300;
  font-size: 3rem;
  color: #F5B7B1;
}

/*# sourceMappingURL=sty.css.map */
